<!DOCTYPE html>
<html>
<head> 
	<meta name="viewport" content="width=device-width"/>
	<title>Product App</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<div class="nav-bar"></div>
	<div id="app">
		<div class="product">
			<div class="product-image">
				<img v-bind:src="image">
			</div>
			<div class="product-info">
				<h1>{{ product }}</h1>
				<a :href="url" target="_blank">View socks on Etsy</a>
				<p v-if="inventory > 10">In Stock</p>
				<p v-else-if="inventory <= 10 && inventory > 0">Low supply</p>
				<p v-else>Out of Stock</p>

				<ul>
					<li v-for="detail in details"> {{ detail }}</li>
				</ul>

				<div v-for="variant in variants" :key="variant.variantId">
					<!--@mouseover is shorthand for v-on:mouseover-->
					<p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
				</div>

				<button v-on:click="addToCart">Add to Cart</button>

				<div class="cart">
					<p>Cart ({{ cart }})</p>
				</div>

			</div>
		</div> 
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="script.js"></script>
</body>
</html>